$fontPrincipal: 'Nunito', sans-serif;

$corDeFundo: #222;
$corDoHeader: #122ab2;
$corDeFundoMenu: #2c70ff;
$corDeFundoBg: #f7f7f7;

$corDoTexto: #fff;
$corDeTexto2: #7c7c7c;
$corDeTexto3: #a4a4a4;

$corDaBordaPruple: #ae81ff;
$corDaBordaPink: #f9265e;
$corDaBordaBlue: #66d9eb;
